<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>DSH Shell</string>
	<key>CFBundleDisplayName</key>
	<string>DSH Shell</string>
	<key>CFBundleIdentifier</key>
	<string>ai.heraldlabs.dsh-shell</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleIconFile</key>
	<string>DeepSeek.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>dsh-shell</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
